SolWCFPersonasCliente/WebWCFPersonasCliente/Connected Services/ServiceReferencePersonas/ServicePersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityPersonas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityPersonas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntPersonas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntPersonas" nillable="true" type="tns:EntPersonas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntPersonas" nillable="true" type="tns:ArrayOfEntPersonas" />
  <xs:complexType name="EntPersonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntPersonas" nillable="true" type="tns:EntPersonas" />
</xs:schema>