SolClienteWSPersonas/WebClienteWSPersonas/Connected Services/ServiceReferenciaPersona/WSPersonas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Obtener">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerResult" type="tns:ArrayOfEntPersonas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntPersonas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntPersonas" nillable="true" type="tns:EntPersonas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntPersonas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAlta" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPorIdResult" type="tns:EntPersonas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:EntPersonas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Editar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:EntPersonas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Borrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:EntPersonas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerSoapIn">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ObtenerSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPorId" />
  </wsdl:message>
  <wsdl:message name="ObtenerPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="EditarSoapIn">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="EditarSoapOut">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarSoapIn">
    <wsdl:part name="parameters" element="tns:Borrar" />
  </wsdl:message>
  <wsdl:message name="BorrarSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPersonasSoap">
    <wsdl:operation name="Obtener">
      <wsdl:input message="tns:ObtenerSoapIn" />
      <wsdl:output message="tns:ObtenerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <wsdl:input message="tns:ObtenerPorIdSoapIn" />
      <wsdl:output message="tns:ObtenerPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input message="tns:AgregarSoapIn" />
      <wsdl:output message="tns:AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input message="tns:EditarSoapIn" />
      <wsdl:output message="tns:EditarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Borrar">
      <wsdl:input message="tns:BorrarSoapIn" />
      <wsdl:output message="tns:BorrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPersonasSoap" type="tns:WSPersonasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap:operation soapAction="http://tempuri.org/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Borrar">
      <soap:operation soapAction="http://tempuri.org/Borrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPersonasSoap12" type="tns:WSPersonasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap12:operation soapAction="http://tempuri.org/Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap12:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap12:operation soapAction="http://tempuri.org/Editar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Borrar">
      <soap12:operation soapAction="http://tempuri.org/Borrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPersonas">
    <wsdl:port name="WSPersonasSoap" binding="tns:WSPersonasSoap">
      <soap:address location="http://localhost:62304/WSPersonas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPersonasSoap12" binding="tns:WSPersonasSoap12">
      <soap12:address location="http://localhost:62304/WSPersonas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>